@charset "UTF-8";

#tattempts {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tattempts td, #tattempts th {
  border: 1px solid #ddd;
  padding: 8px;
  word-break: break-word;
}

#tattempts tr:nth-child(even){background-color: #f2f2f2;}

#tattempts tr:hover {background-color: #ddd;}

#tattempts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #881536;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.attemptid {
  width: min-content;
  font-size: 0.8em;
}

.faction {
	cursor: pointer;
	display: inline-block;
}

.fempty {
	visibility: hidden;
}

#searchId {
	width: 80%;
}

.haction {
	font-size: 16px;
	cursor: pointer;
	vertical-align: middle;
}

a.haction:hover {
	color: white;
}

td.score .material-icons {
	font-size: 1em;
}

#attemptcounter {
	float: right;
}

#fattempts {
  overflow: auto; 
  max-height: 360px;
  scrollbar-color: #881536 #F0F0F0;
  scrollbar-width: thin;
}
