#error-container { margin: auto; line-height: 1.7em; text-align: center; font-family: 'Impact'; }
#error-container .error-title { text-transform: uppercase; }
#error-container a:link, #error-container a:visited{ color: #881536; }
#error-container a:hover, #error-container a:active{ color: #F8B505; }
#error-container .error-title h2 { font-size: 4em; }
#error-container .error-title h3 { font-size: 2em; color: #797979; }

